/* CSS for the second style */
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
:root {
    --primary-color: #003366;
    --secondary-color: #FFD700
}
body {
    color: black;
    font-family:"Century Gothic", Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding:2px;
    background-color:#003366;
    transition: all 0.5s ease;
}
h1{
    font-size:clamp(2rem, 5vw, 3rem);
    text-align:center;
    font-weight:normal;
    font-family: "Sofia";    
        
}
h2{
    font-size:30px;
    text-align:center;
    font-weight:normal;
    font-family: "Sofia";    
        
}
.container {
    display: grid;
    gap:10px;
    grid-template-areas: 
        'header'
        'nav'
        'main'
        'footer';
}

.header {
    grid-area: header;
    padding: 10px;
    background-color:#003366;
    border-top:5px groove #FFD700;
    border-radius:100px;
    color:#FFD700;

}


.nav {
    position: sticky;
    z-index: 1000;
    top: 0;
    grid-area: nav;
    margin : 15px ;
    width:auto;
    background-color:#003366;
    border-radius:10px;
    border:3px groove #FFD700;
    min-height: 30px;
    box-sizing: border-box;
    
}

.nav ul {
    list-style-type: none;
    display:flex;
    align-items: center;
}
.nav .icon-container{
    margin-left: 1px;
}
.nav a {
    font-weight: bold;
    padding:0.5rem 1rem;
    text-decoration:none;
    font-size:12px;
    color:#FFD700;
    text-transform:uppercase;
    display:flex;
    transition: background-color 150ms ease;
   
}

.nav li {
    display: flex;
}



.navIn:hover{
    
    border-radius: 20px;
    background:linear-gradient(to bottom,#FFD700,#003366,#FFD700);
    transition:all 200ms ease;
    box-shadow:-3px 0px 3px #003366;
    color:#003366; 
    transform: scale(1.1);    

}
.icon-container {
    display: flex;
    align-items: center;
    gap: 15px; /* Ajoute un espace entre "Nos services" et les icônes */
    justify-content: flex-end;
    margin-left: auto; /* Pousse le bloc à droite */
    padding-right: 10px;
}
#icon-containerleft {
    display: flex;
    align-items: center;
    gap: 15px; /* Ajoute un espace entre "Nos services" et les icônes */
    justify-content: flex-start;
    margin-left: auto; /* Pousse le bloc à droite */
    padding-right: 10px;
    margin-left:0px ;

}

#Service {
    border: 1px solid #FFD700;
    padding: px 10px;
    border-radius: 5px;
}

#Service a {
    text-decoration: none;
    color: #FFD700;
    font-weight: bold;
}

.icon {
    width: 24px;
    height: 24px;
    color: white;
    transition: color 0.3s ease-in-out, transform 0.2s;
    cursor: pointer;
}

.icon:hover {
    color: #ffcc00;
    transform: scale(1.2);
}

.main {
    display:grid;
    grid-template-areas: 'section1'
                          'section2'
                          'section3'
                          'section4'
                          'section5'
                          'section6';
    grid-gap: 10px;
    grid-area: main;
    color: #003366;
    padding: 15px;
}

.section {
    grid-area: section;
    color:#003366;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    border-top:4px groove #003366;
    border-radius:20px;
    background-color:#FFD700;       
}
.section1{
    grid-area: section1;
       
}
.section2{
    grid-area: section2;
       
}
.section3{
    grid-area: section3;
       
}
.section4{
    grid-area: section4;
       
}
.section5{
    grid-area: section5;
       
}
.section6{
    grid-area: section6;
       
}

.footer {
    grid-area: footer;
    padding: 10px;
    height:auto;
    text-align:center;
    background-color:white;
    border-top: 5px groove #FFD700; 
    border-radius:10px;
    border-bottom-left-radius:100px;
    border-bottom-right-radius:100px;
    color:#003366;
    font-weight:900;

}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.espace{
    width:25%;
}
#openSideBarButton{
    display:none;
    background: none;
    border: none;
    padding-top:0.5rem;
    margin-left:auto;
    cursor:pointer;
}
#closeSideBarButton:hover,#openSideBarButton:hover{
    transition:all 200ms ease;
    transform: scale(1.3); 
}
#closeSideBarButton{
    display:none;
    background: none;
    border: none;
    padding:1rem;
    margin-left:auto;
    cursor:pointer;
}
#overlay{
    background: rgba(30, 28, 15, 0.63);
    position:fixed;
    inset:0;
    z-index:9;
    display:none;
}

@media only screen and (max-width: 768px) {
    #openSideBarButton,#closeSideBarButton{
        display:block;
    }
    .nav.show~#overlay{
        display:block;
    }
    .container {
      grid-template-areas:
        "header"
        "barResponsive"
        "main"
        "footer";

    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid #FFD700;
    }
    .nav ul {
      display: flex;
      flex-direction: column;
      /*align-items: center;*/
      align-items: baseline;
      flex-wrap: wrap;
      width:100%;

    }
    img{
        width: 700px;
    }
    .nav{
        position: fixed;
        height:100vh;
        width:min(15em,100%);
        top : 0px;
        right:-100%;
        transition:right 300ms ease-out;
        
    }
    .nav.show{
        right:0;
        transition: right 0.5s ease;
    }
    .nav a{
        width:100%;
        padding-left:2.5em;
    }
    .nav a.active{
        background-color:#FFD700;
        color:#003366;
        border-bottom: none;
    }
    .nav .icon-container{
        display:none;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .barResponsive{
        position: sticky;
        z-index: 1000;
        top: 0;
        grid-area: barResponsive;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 0px;
        width:auto;
        background-color:#003366;
        border-radius:10px;
        border:3px groove #FFD700;
        min-height: 15px;
        box-sizing: border-box;
        margin:15px
    }
    #Service {
        border: 1px solid #FFD700;
        padding: 1px 5px;
        border-radius: 5px;
    }
    
    #Service a {
        text-decoration: none;
        color: #FFD700;
        font-weight: bold;
    }
  }
  